<div id="list-{{id}}" class="col-lg-3">
    <div id="listItem" class="card bg-dark">
        <div class="userListsOfMovies" id="txtAlignCenter">
            <h3 id="listName-{{id}}">
                <a class="card-title" href="/users/{{owner}}/lists/{{id}}">
                <span id="themeColor">{{listName}}</span></a></h3>
            <h5 class="card-subtitle mb-2 text-muted"
                href="/users/{{owner}}/lists/{{id}}">{{items.length}} items</h5>
            <div>
                <button class="editListBtn" onclick="showPopUp('{{id}}')"><span
                        class="fa fa-pencil-square-o"></span></button>
                <button class="removeListBtn" onclick="removeList('{{id}}', '{{owner}}')">
                    <span class="fa fa-trash-o"></span></button>
            </div>
        </div>
    </div>
    <div id="editListPopUp-{{id}}" style="visibility: hidden">
        <h4>Edit List <span class="fa fa-times-circle" onclick="hidePopUp('{{id}}')"></span></h4>
        <input id="name-{{id}}" name="name" placeholder="Name" type="text" required>
        <input id="description-{{id}}" name="description" placeholder="Description" type="text">
        <button onclick="editList('{{id}}', '{{owner}}')">Submit</button>
    </div>
</div>