{{>navbar}}

<div id="divJumboTron" class="jumbotron jumbotron-fluid bg-dark">
    <div class="container">
        <h1 id="themeTitle" class="display-3">{{listName}}</h1>
        <p id="themeColor" class="lead">{{listDesc}}</p>
    </div>
</div>
<div class="container">
    <div id = "mainDiv" class="row">
        {{#each items}}
            <div id = "movieID-{{movieId}}" class="col-lg-3">
                <div id="divCard" class="card mb-2 text-center">
                    <a href="/movies/{{movieId}}">
                        {{#if moviePoster}}
                            <img class="card-img-top" src='http://image.tmdb.org/t/p/w185/{{moviePoster}}'>
                        {{else}}
                            <img class="card-img-top" src='/images/defaultPoster.jpg'>
                        {{/if}}
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vote Average: {{movieRating}}</li>
                        <button onclick="removeMovie('{{movieId}}', '{{../id}}', '{{../user.username}}')" class="removeMovieBtn">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>



