{{>navbar}}

<div id="userjbtron" class="jumbotron jumbotron-fluid bg-dark" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <h1 id="themeTitle" class="display-3"><span class="fa fa-user-circle"></span>{{user.username}}'s Lists</h1>
    </div>
</div>

<div class="row">
    <div id="crtLsts">
        <a class="btn btn-outline-dark" href="/users/{{user.username}}/lists/new">Create New List</a>
    </div>
</div>

<div id="alignContentContainer" class="container pt-5">
    <div id="mainDiv" class="row">
        {{#each lists}}
            {{>cardMovieList}}
        {{/each}}
    </div>

    {{#paginate user.username currentPage totalPages 2 }}
        <div id="marginPagination" class="pagination">
            {{#if isFirstPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="/users/{{name}}/lists?page=1">First</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/users/{{name}}/lists?page=1">First</a>
                </li>
            {{/if}}
            {{#each pages}}
                {{#if isCurrent}}
                    <li class="page-item active">
                        <a class="page-link" href="/users/{{../name}}/lists?page={{page}}">{{page}}</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/users/{{../name}}/lists?page={{page}}">{{page}}</a>
                    </li>
                {{/if}}
            {{/each}}

            {{#if isLastPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="/users/{{name}}/lists?page={{lastPage}}">Last</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="/users/{{name}}/lists?page={{lastPage}}">Last</a>
                </li>
            {{/if}}
        </div>
    {{/paginate}}
</div>

